
font-size-small = 14px

font-size-todos = 18px

font-size-header = 24px

font = font-size-todos "Roboto", Arial


.edit-style
  display: inline-block
  font-size: font-size-small
  width: 420px
  heignt: 21px
  margin: 2px
