@import "defines.styl"

.body-layer
  heigth: 100%
  width: 100%

.text-todo
  display: inline-block
  margin: 5px

.remove-button
  display: inline-block
  outline: solid #000 1px
  text-align: center
  width: 20px
  margin: 5px
  cursor: pointer

.todo-list
  width: 500px
  //min-height: 200px
  height: calc(100% - 50px)
  margin 5px auto
  padding-left 7px
  outline: solid #000 1px
  overflow-y: scroll;
  overflow-x: hidden;

  h1
    height: 20px
    color: rgba(0, 140, 207, 0.6)
    text-align: center
    text-transform: uppercase;
    font-size: font-size-header;

  .todo__list-item
    heignt: 30px

    &:hover
      background: rgba(0, 140, 207, 0.1)

    &__remove-button
      @extend .remove-button
      &:hover
        color: red

    &__remove-button--disabled
      @extend .remove-button

  .todo__text-disabled
    @extend .text-todo
    
  .todo-text
    @extend .text-todo

  .todo-text:hover
    color: rgba(0, 140, 207, 0.6)
    cursor: pointer


.todo-question-bottom
  top: calc(100% - 50px)
  left: calc((100% - 500px)/2)

.todo-question-center
  top: calc(100% - 50px)
  left: calc((100% - 500px)/2)

.todo-question
  position: absolute
  width: 500px
  //min-height: 200px
  margin 0 auto
  heignt: 30px
  font-weight: 600

  .todo-edit
    @extends .edit-style

  .add-todo-button
    display: inline-block
    width: 70px
    margin: 2px
    heignt: 21px
    font-size: font-size-small
    font-weight: 600
    text-align: center
    outline: solid gray 1px

    &:hover
      cursor: pointer
      outline: solid gray 2px
